stardust-engine-ws-cxf/src/main/resources/META-INF/wadl/templates/WebAppTypes.template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://eclipse.org/stardust/rest/v2012a/types"
   elementFormDefault="qualified"
   xmlns="http://eclipse.org/stardust/rest/v2012a/types"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <xsd:element name="Args">
      <xsd:complexType>
         <xsd:sequence>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="Results">
      <xsd:complexType>
         <xsd:sequence>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>

   <xsd:element name="Link" type="xsd:string" />

   <xsd:element name="ErrorMsg" type="xsd:string" />

</xsd:schema>
