stardust-engine-ws-cxf/src/main/resources/META-INF/wsdl/templates/StardustProcessInterface.template.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
   targetNamespace="http://eclipse.org/stardust/ws/v2012a/pi"
   xmlns:tns="http://eclipse.org/stardust/ws/v2012a/pi"
   xmlns:mdl="http://eclipse.org/stardust/PLACEHOLDER"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
   xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
   xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">

   <wsdl:types>
      <xsd:schema targetNamespace="http://eclipse.org/stardust/PLACEHOLDER" elementFormDefault="qualified">
         <xsd:element name="startProcess">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Args">
                     <xsd:complexType>
                        <xsd:sequence>
                           <!-- parameter types -->
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="startProcessResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="ProcessInstanceOid"  type="xsd:long" />
                  <xsd:element name="Return">
                     <xsd:complexType>
                        <xsd:sequence>
                           <!-- return types -->
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="getProcessResults">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="ProcessInstanceOid"  type="xsd:long" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="getProcessResultsResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Return">
                     <xsd:complexType>
                        <xsd:sequence>
                           <!-- return types -->
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>      
         <xsd:element name="bpmModelFault">
	         <xsd:complexType>
	            <xsd:sequence>
	               <xsd:element name="faultCode">
	                  <xsd:simpleType>
		                 <xsd:restriction base="xsd:string">
		                    <xsd:enumeration value="UnknownError" />
		                    <xsd:enumeration value="UnknownInteraction" />
		                    <xsd:enumeration value="WrongParameter" />
		                    <xsd:enumeration value="UnsupportedParameterValue" />
		                 </xsd:restriction>
		              </xsd:simpleType>   
	               </xsd:element>
	               <xsd:element name="faultDescription" type="xsd:string" minOccurs="0" />
	            </xsd:sequence>
	         </xsd:complexType>
         </xsd:element>
      </xsd:schema>
      <!-- additional type definitions -->

   </wsdl:types>

   <wsdl:message name="startProcessRequest">
      <wsdl:part name="parameters" element="mdl:startProcess" />
   </wsdl:message>
   <wsdl:message name="startProcessResponse">
      <wsdl:part name="parameters" element="mdl:startProcessResponse" />
   </wsdl:message>
   <wsdl:message name="getProcessResultsRequest">
      <wsdl:part name="parameters" element="mdl:getProcessResults" />
   </wsdl:message>
   <wsdl:message name="getProcessResultsResponse">
      <wsdl:part name="parameters" element="mdl:getProcessResultsResponse" />
   </wsdl:message>   
   <wsdl:message name="bpmFault">
      <wsdl:part name="parameters" element="mdl:bpmModelFault" />
   </wsdl:message>

   <wsdl:portType name="ProcessInterface">
      <wsdl:operation name="startProcess" parameterOrder="parameters">
         <wsdl:input message="tns:startProcessRequest" />
         <wsdl:output message="tns:startProcessResponse" />
         <wsdl:fault name="fault" message="tns:bpmFault" />
      </wsdl:operation>
      <wsdl:operation name="getProcessResults" parameterOrder="parameters">
         <wsdl:input message="tns:getProcessResultsRequest" />
         <wsdl:output message="tns:getProcessResultsResponse" />
         <wsdl:fault name="fault" message="tns:bpmFault" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="ProcessInterfaceSoapBinding" type="tns:ProcessInterface">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

      <wsdl:operation name="startProcess">
         <wsdlsoap:operation soapAction="startProcess" />
         <wsdl:input>
            <wsdlsoap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="fault">
            <wsdlsoap:fault name="fault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProcessResults">
         <wsdlsoap:operation soapAction="getProcessResults" />
         <wsdl:input>
            <wsdlsoap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="fault">
            <wsdlsoap:fault name="fault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="ProcessInterfaceService">
   
      <!-- ProcessInterface Service (HTTP Basic Authentication) -->
      <wsdl:port binding="tns:ProcessInterfaceSoapBinding" name="ProcessInterfaceHttpBasicAuth" >
         <wsdlsoap:address location="REPLACE_WITH_ACTUAL_URL" />
      </wsdl:port>
      
      <!-- ProcessInterface Service (HTTP Basic Authentication using SSL) -->
      <wsdl:port binding="tns:ProcessInterfaceSoapBinding" name="ProcessInterfaceHttpBasicAuthSsl" >
         <wsdlsoap:address location="REPLACE_WITH_ACTUAL_URL" />
         <wsp:PolicyReference URI="#SslPolicy" />
         <wsaw:UsingAddressing wsdl:required="false" />
      </wsdl:port>
      
      <!-- ProcessInterface Service (WS-Security UsernameToken) -->
      <wsdl:port binding="tns:ProcessInterfaceSoapBinding" name="ProcessInterfaceWssUsernameToken" >
         <wsdlsoap:address location="REPLACE_WITH_ACTUAL_URL" />
         <wsp:PolicyReference URI="#UsernameTokenPolicy" />
         <wsaw:UsingAddressing wsdl:required="false" />
      </wsdl:port>
   </wsdl:service>
   
   <wsp:Policy wsu:Id="UsernameTokenPolicy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:TransportBinding>
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="false">
                           <wsp:Policy />
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Lax />
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
               </wsp:Policy>
            </sp:TransportBinding>
            <sp:Wss10 />
            <sp:SignedEncryptedSupportingTokens>
               <wsp:Policy>
                  <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                     <wsp:Policy>
                        <sp:WssUsernameToken10 />
                     </wsp:Policy>
                  </sp:UsernameToken>
               </wsp:Policy>
            </sp:SignedEncryptedSupportingTokens>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   
   <wsp:Policy wsu:Id="SslPolicy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:TransportBinding>
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="false">
                           <wsp:Policy />
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Lax />
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>

</wsdl:definitions>