stardust-engine-core/src/test/resources/org/eclipse/stardust/engine/core/struct/ecore/ctm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="VersionOfTradeComponent">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
			
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TypeOfTransactionIndicator">
		<xs:simpleType>
			<xs:restriction base="xs:string">
		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TypeOfFinancialInstrument">
		<xs:simpleType>
			<xs:restriction base="xs:string">
	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TradeTimeQualifier">
		<xs:simpleType>
			<xs:restriction base="xs:string">
		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TradeLevelTotals">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TotalNetCashAmount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TradeLevelReferences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MasterReference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TradeLevelInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TypeOfTransactionIndicator"/>
				<xs:element ref="BuySellIndicator"/>
				<xs:element ref="TypeOfFinancialInstrument"/>
				<xs:element ref="DealPrice"/>
				<xs:element ref="QuantityOfTheBlockTrade"/>
				<xs:element ref="TotalTradeAmount"/>
				<xs:element ref="TradeDateTime"/>
				<xs:element ref="TimeZone"/>
				<xs:element ref="SettlementDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TradeLevelBody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FunctionOfTheMessage"/>
				<xs:element ref="VersionOfTradeComponent"/>
				<xs:element ref="InstructingParty"/>
				<xs:element ref="ExecutingBroker"/>
				<xs:element ref="TradeLevelReferences"/>
				<xs:element ref="IdentificationOfASecurity"/>
				<xs:element ref="TradeLevelInformation"/>
				<xs:element ref="TradeLevelTotals"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TradeLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SubmitHeader"/>
				<xs:element ref="TradeLevelBody"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TradeDateTime">
		<xs:simpleType>
			<xs:restriction base="xs:long">
		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalTradeAmount">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CurrencyCode"/>
				<xs:element ref="Amount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TotalNetCashAmount">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CurrencyCode"/>
				<xs:element ref="Amount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeZone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TradeTimeQualifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubmitHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProtocolVersion"/>
				<xs:element ref="OriginatorOfMessage"/>
				<xs:element ref="RecipientOfMessage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SettlementDate">
		<xs:simpleType>
			<xs:restriction base="xs:int">
		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SecurityCodeType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NumberingAgencyCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SecurityCode">
		<xs:simpleType>
			<xs:restriction base="xs:long">
			
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RecipientOfMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyRole"/>
				<xs:element ref="PartyType"/>
				<xs:element ref="PartyValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuantityTypeCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityOfTheBlockTrade">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="QuantityTypeCode"/>
				<xs:element ref="Amount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProtocolVersion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartyValue">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartyType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartyRole">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OriginatorOfMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyRole"/>
				<xs:element ref="PartyType"/>
				<xs:element ref="PartyValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberingAgencyCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MasterReference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InstructingParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyRole"/>
				<xs:element ref="PartyType"/>
				<xs:element ref="PartyValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdentificationOfASecurity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SecurityCodeType"/>
				<xs:element ref="SecurityCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FunctionOfTheMessage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
	
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExecutingBroker">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyRole"/>
				<xs:element ref="PartyType"/>
				<xs:element ref="PartyValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DealPrice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CurrencyCode"/>
				<xs:element ref="Amount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CurrencyCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CTM_Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TradeLevel"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuySellIndicator">
		<xs:simpleType>
			<xs:restriction base="xs:string">
		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Amount">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
