stardust-engine-core/src/test/resources/org/eclipse/stardust/engine/core/struct/ecore/ftt-type-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Franklin Templeton Investments (Franklin Templeton Investments) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns="http://middleware.frk.com/Schemas/Onetis/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://middleware.frk.com/Schemas/Onetis/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:simpleType name="CurrencyCode_Type">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rec_Type">
		<xs:annotation>
			<xs:documentation>Transaction Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="X"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Timestamp_Type">
		<xs:annotation>
			<xs:documentation>Typestamp YYYYMMDDHHMMSS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="Acct_Type">
		<xs:annotation>
			<xs:documentation>Complex Type representing Client Account </xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" type="xs:integer" use="optional"/>
		<xs:attribute name="Shortname" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="ChineseWall" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MiscFees_Type">
		<xs:annotation>
			<xs:documentation>Complex Type representing Fees</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amt" type="xs:decimal" use="required"/>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SEC"/>
					<xs:enumeration value="OTHER"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Instrument_Type">
		<xs:annotation>
			<xs:documentation>Complex Type representing Instrument / Security</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SecType" type="SecType_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Identity" type="InstrumentID_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Factor" type="xs:decimal" use="optional"/>
		<xs:attribute name="Id" type="xs:integer" use="required"/>
		<xs:attribute name="Issuer" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="preserve"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Pool" type="xs:string" use="optional"/>
		<xs:attribute name="IssueDate" type="xs:date" use="optional"/>
		<xs:attribute name="MaturityDate" type="xs:date" use="optional"/>
		<xs:attribute name="CouponRate" type="xs:decimal" use="optional"/>
		<xs:attribute name="Issue" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="preserve"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="IsFloating" type="xs:boolean" use="optional"/>
		<xs:attribute name="InstrumentType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="FX"/>
					<xs:enumeration value="Equity"/>
					<xs:enumeration value="FixedIncome"/>
					<xs:enumeration value="Future"/>
					<xs:enumeration value="Option"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ExpiryDate" type="xs:date" use="optional"/>
		<xs:attribute name="DatedDate" type="xs:date" use="optional"/>
		<xs:attribute name="OptionStyle" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="American"/>
					<xs:enumeration value="European"/>
					<xs:enumeration value="Asian"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="OptionType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Call"/>
					<xs:enumeration value="Put"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="IssueCurrency" type="xs:string" use="optional"/>
		<xs:attribute name="StrikePrice" type="xs:decimal" use="optional"/>
		<xs:attribute name="OrigFaceAmt" type="xs:decimal" use="optional"/>
		<xs:attribute name="IssueCountry" type="xs:string" use="optional"/>
		<xs:attribute name="Yield" type="xs:string" use="optional"/>
		<xs:attribute name="YieldType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OnCall"/>
					<xs:enumeration value="Current"/>
					<xs:enumeration value="Mature"/>
					<xs:enumeration value="Represented"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="InstrumentID_Type">
		<xs:annotation>
			<xs:documentation>Complex Type representing Instrument ID </xs:documentation>
		</xs:annotation>
		<xs:attribute name="Src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CUSIP"/>
					<xs:enumeration value="SEDOL"/>
					<xs:enumeration value="ISIN"/>
					<xs:enumeration value="TICKER"/>
					<xs:enumeration value="CUSTOM"/>
					<xs:enumeration value="VALSYM"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="BrokerReason_Type">
		<xs:annotation>
			<xs:documentation>Complex Type for Broker Reason</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="D"/>
					<xs:enumeration value="E"/>
					<xs:enumeration value="S"/>
					<xs:enumeration value="R"/>
					<xs:enumeration value="P"/>
					<xs:enumeration value="M"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Desc" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SecType_Type">
		<xs:annotation>
			<xs:documentation>Complex definition of Security Type </xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="Src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="TIS"/>
					<xs:enumeration value="OMGEO"/>
					<xs:enumeration value="SWIFT"/>
					<xs:enumeration value="FIX"/>
					<xs:enumeration value="CTM-OMGEO"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Comm_Type">
		<xs:annotation>
			<xs:documentation>Complex definition of Commission</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="RATE"/>
					<xs:enumeration value="BPS"/>
					<xs:enumeration value="REGULAR"/>
					<xs:enumeration value="IMPLIED"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Amt" type="xs:decimal" use="required"/>
	</xs:complexType>
	<xs:complexType name="User_Type">
		<xs:annotation>
			<xs:documentation>Complex type representing TIS user</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UserLocation" type="Location_Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="FullName" type="xs:string" use="optional"/>
		<xs:attribute name="NetLogin" type="xs:string" use="optional"/>
		<xs:attribute name="Status" type="xs:string" use="optional" default="A"/>
	</xs:complexType>
	<xs:complexType name="Exchange_Type">
		<xs:annotation>
			<xs:documentation>Complex type representing Stock Exchange</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExchangeId" type="ExchangeID_Type" minOccurs="0" maxOccurs="2"/>
			<xs:element name="Country" type="Country_Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="TimeZone" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ExchangeID_Type">
		<xs:annotation>
			<xs:documentation>Complex type representing stock exchange id</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BLM"/>
					<xs:enumeration value="REU"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Country_Type">
		<xs:annotation>
			<xs:documentation>Complex type representing COUNTRY</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Region" type="Region_Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="PE5YRLOW" type="xs:decimal" use="optional"/>
		<xs:attribute name="PE5YRHI" type="xs:decimal" use="optional"/>
		<xs:attribute name="PE" type="xs:decimal" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Currency_Type">
		<xs:annotation>
			<xs:documentation>Complex type representing CURRENCY</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Region_Type">
		<xs:annotation>
			<xs:documentation>Complex type representing REGION</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Broker_Type">
		<xs:annotation>
			<xs:documentation>Complex type representing BROKER</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" type="xs:string" use="optional"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="BIC" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Acronym" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Location_Type">
		<xs:annotation>
			<xs:documentation>Complex Type for LOCATION</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="Type" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Affiliation_Type">
		<xs:attribute name="AffiliatedTo" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Tax_Type">
		<xs:annotation>
			<xs:documentation>Complex Type representing Taxes</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Amt" type="xs:decimal" use="required"/>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="VAT"/>
					<xs:enumeration value="LOCAL"/>
					<xs:enumeration value="STAMP"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
