stardust-engine-core/src/test/resources/org/eclipse/stardust/engine/core/struct/ecore/MT571.FormatModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="root">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="Sequence_A" minOccurs="1" maxOccurs="1">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Tag_28_Page_Number_Continuation_Indicator" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":28:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Page_Number" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.5ValidChars" Max_Length="5" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Indicator" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.2ValidChars" Max_Length="2" Min_Length="1" Content_Type="Has Data Model" Valid_Values="0=The statement is to continue.,99=This is the last page of the statement.," />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_20_Transaction_Reference_Number" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":20:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.16ValidChars" Max_Length="16" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_21_Related_Reference" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":21:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.16ValidChars" Max_Length="16" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Safekeeping_Account__A__C_or_D_" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:choice>
          <xs:element name="Tag_83A_Party_Id___BIC" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":83A:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Party_Id_Line" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Credit_Debit_Indication" minOccurs="1" maxOccurs="1" type="xs:boolean">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="CD" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%T[C]%F[D]" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="C=Credit,D=Debit," />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Party_Id" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="/" Also_After_Last_Child="false" Also_Before_First_Child="true" />
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="BIC" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%BIC" Max_Length="11" Min_Length="8" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true">
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_83C_Party_Id___Account_number_Party_Identifier" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":83C:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Account_Number" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo>
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_83D_Party_Id___Name_and_Address" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":83D:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Party_Id_Line" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Credit_Debit_Indication" minOccurs="1" maxOccurs="1" type="xs:boolean">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="CD" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%T[C]%F[D]" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="C=Credit,D=Debit," />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Party_Id" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="/" Also_After_Last_Child="false" Also_Before_First_Child="true" />
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Name_and_Address" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Narrative" minOccurs="1" maxOccurs="4" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true">
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true">
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:choice>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_67A_Statement_Period" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":67A:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Date" minOccurs="1" maxOccurs="1" type="xs:date">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%y%m%d" Max_Length="6" Min_Length="6" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Last_Date" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:date">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%y%m%d" Max_Length="6" Min_Length="6" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_30_Date_Prepared" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":30:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:date">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%y%m%d" Max_Length="6" Min_Length="6" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_26F_Statement_Period_1" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":26F:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.9ValidChars" Max_Length="9" Min_Length="1" Content_Type="Has Data Model" Valid_Values="TRADE=Trade Details.,CONTR=,ACTUA=,BOOKD=," />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:annotation>
      <xs:appinfo>
       <formatInfo mandatory="true">
        <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
         <right_context String_Constraint=":" Is_Negative_Constraint="false" />
         <left_context Is_Negative_Constraint="false" />
        </separator>
       </formatInfo>
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
    <xs:element name="Repetitive_Sequence_B" minOccurs="1" maxOccurs="1">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Sequence_B" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag_35H_Quantity_of_Securities" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":35H:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Sign" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.1ValidChars" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="N=Negative," />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Currency_Security_Type" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:choice>
                <xs:element name="Security_Type" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%3.3TYPE" Max_Length="3" Min_Length="3" Content_Type="Syntax with Data Model" Valid_Values="BON=Bonds,CER=Representative Certificates,CPN=Coupons,FMT=Face or principal or nominal amount,MSC=Miscellaneous,OPC=Option contracts,OPS=Option shares,PRC=Premium contracts,PRS=Premium shares,RTE=Rentes,RTS=Rights,SHS=Shares,UNT=Units,WTS=Warrants," />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Currency_Code" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:choice>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Price" minOccurs="1" maxOccurs="1" type="xs:decimal">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Repetitive_Subsequence_B1" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Subsequence_B1" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Tag_60B_Quantity_of_Securities" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" Constant_Value=":60B:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Sign" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.1ValidChars" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="N=Negative," />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Tag_23_Further_Identification" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" Constant_Value=":23:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Status" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.2ValidChars" Max_Length="2" Min_Length="2" Content_Type="Has Data Model" Valid_Values="NA=,AD=," />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Reason" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%5.5ValidChars" Max_Length="5" Min_Length="5" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Tag_72_Sender_to_Receiver_Information" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" Constant_Value=":72:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Content" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:choice>
                      <xs:element name="Format_1" minOccurs="1" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Line_1" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Code" minOccurs="1" maxOccurs="1">
                             <xs:complexType>
                              <xs:sequence>
                               <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                               <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                               <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                              </xs:sequence>
                             </xs:complexType>
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Additional_Information" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.32ValidChars" Max_Length="32" Min_Length="1" Content_Type="Has Data Model" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                           </xs:sequence>
                          </xs:complexType>
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Lines_2_6" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Line_2_6" minOccurs="1" maxOccurs="5">
                             <xs:complexType>
                              <xs:choice>
                               <xs:element name="Line_Format_1" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                 <xs:sequence>
                                  <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                                   <xs:annotation>
                                    <xs:appinfo>
                                     <formatInfo mandatory="true" Constant_Value="//" Max_Length="2" Min_Length="2" Content_Type="Pure Syntax" />
                                    </xs:appinfo>
                                   </xs:annotation>
                                  </xs:element>
                                  <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                                   <xs:annotation>
                                    <xs:appinfo>
                                     <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.33ValidChars" Max_Length="33" Min_Length="1" Content_Type="Has Data Model" />
                                    </xs:appinfo>
                                   </xs:annotation>
                                  </xs:element>
                                 </xs:sequence>
                                </xs:complexType>
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                               <xs:element name="Line_Format_2" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                 <xs:sequence>
                                  <xs:element name="Code" minOccurs="1" maxOccurs="1">
                                   <xs:complexType>
                                    <xs:sequence>
                                     <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                                      <xs:annotation>
                                       <xs:appinfo>
                                        <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                                       </xs:appinfo>
                                      </xs:annotation>
                                     </xs:element>
                                     <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                                      <xs:annotation>
                                       <xs:appinfo>
                                        <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" />
                                       </xs:appinfo>
                                      </xs:annotation>
                                     </xs:element>
                                     <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                                      <xs:annotation>
                                       <xs:appinfo>
                                        <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                                       </xs:appinfo>
                                      </xs:annotation>
                                     </xs:element>
                                    </xs:sequence>
                                   </xs:complexType>
                                   <xs:annotation>
                                    <xs:appinfo>
                                     <formatInfo mandatory="true" />
                                    </xs:appinfo>
                                   </xs:annotation>
                                  </xs:element>
                                  <xs:element name="Additional_Information" minOccurs="1" maxOccurs="1" type="xs:string">
                                   <xs:annotation>
                                    <xs:appinfo>
                                     <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.32ValidChars" Max_Length="32" Min_Length="1" Content_Type="Has Data Model" />
                                    </xs:appinfo>
                                   </xs:annotation>
                                  </xs:element>
                                 </xs:sequence>
                                </xs:complexType>
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                              </xs:choice>
                             </xs:complexType>
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                           </xs:sequence>
                          </xs:complexType>
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo>
                             <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                              <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                              <left_context Is_Negative_Constraint="false" />
                             </separator>
                            </formatInfo>
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:sequence>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true">
                          <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                           <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                           <left_context Is_Negative_Constraint="false" />
                          </separator>
                         </formatInfo>
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Narrative__6___35x_" minOccurs="1" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Narrative" minOccurs="1" maxOccurs="6" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:sequence>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true">
                          <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                           <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                           <left_context Is_Negative_Constraint="false" />
                          </separator>
                         </formatInfo>
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:choice>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="false" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo>
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="false" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_35B_Identification_of_Securities" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":35B:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="ISIN_Identifier" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Constant_Value="ISIN " Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%12.12ISIN_ID" Max_Length="12" Min_Length="12" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Narrative__4_35x_" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Narrative" minOccurs="1" maxOccurs="4" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true">
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_33B_Price_per_Unit" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":33B:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Currency_Other_Code" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:choice>
                <xs:element name="Currency_Code" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Other_Code" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%3.3ValidChars" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:choice>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Accrued_Interest__G_or_H_" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:choice>
             <xs:element name="Tag_34G_Option_G___added" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Constant_Value=":34G:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Interest" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Content_0" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Number_of_days" minOccurs="1" maxOccurs="1" type="xs:decimal">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%3.3n%lz" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo>
                       <separator Separator="\r\n" Also_After_Last_Child="true" Also_Before_First_Child="false">
                        <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                        <left_context Is_Negative_Constraint="false" />
                       </separator>
                      </formatInfo>
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Content_1" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Currency_Code" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Content_2" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true">
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="false" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Tag_34H_Option_H___deducted" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Constant_Value=":34H:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Interest" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Content_0" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Number_of_days" minOccurs="1" maxOccurs="1" type="xs:decimal">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%3.3n%lz" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo>
                       <separator Separator="\r\n" Also_After_Last_Child="true" Also_Before_First_Child="false">
                        <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                        <left_context Is_Negative_Constraint="false" />
                       </separator>
                      </formatInfo>
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Content_1" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Currency_Code" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Content_2" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true">
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="false" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:choice>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_36_Exchange_Rate" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":36:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:decimal">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.12ln%n%f%dp," Max_Length="12" Min_Length="2" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_32H_Value" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":32H:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Sign" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.1ValidChars" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="N=Negative," />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Currency" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_72_Sender_to_Receiver_Information" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":72:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Content" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:choice>
                <xs:element name="Format_1" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Line_1" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Code" minOccurs="1" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:sequence>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Additional_Information" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.32ValidChars" Max_Length="32" Min_Length="1" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Lines_2_6" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Line_2_6" minOccurs="1" maxOccurs="5">
                       <xs:complexType>
                        <xs:choice>
                         <xs:element name="Line_Format_1" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Constant_Value="//" Max_Length="2" Min_Length="2" Content_Type="Pure Syntax" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.33ValidChars" Max_Length="33" Min_Length="1" Content_Type="Has Data Model" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                           </xs:sequence>
                          </xs:complexType>
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Line_Format_2" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Code" minOccurs="1" maxOccurs="1">
                             <xs:complexType>
                              <xs:sequence>
                               <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                               <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                               <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                              </xs:sequence>
                             </xs:complexType>
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Additional_Information" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.32ValidChars" Max_Length="32" Min_Length="1" Content_Type="Has Data Model" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                           </xs:sequence>
                          </xs:complexType>
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:choice>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo>
                       <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                        <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                        <left_context Is_Negative_Constraint="false" />
                       </separator>
                      </formatInfo>
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true">
                    <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                     <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                     <left_context Is_Negative_Constraint="false" />
                    </separator>
                   </formatInfo>
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Narrative__6___35x_" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Narrative" minOccurs="1" maxOccurs="6" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true">
                    <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                     <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                     <left_context Is_Negative_Constraint="false" />
                    </separator>
                   </formatInfo>
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:choice>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo>
           <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
            <right_context String_Constraint=":" Is_Negative_Constraint="false" />
            <left_context Is_Negative_Constraint="false" />
           </separator>
          </formatInfo>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:annotation>
      <xs:appinfo>
       <formatInfo>
        <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
         <right_context String_Constraint=":" Is_Negative_Constraint="false" />
         <left_context Is_Negative_Constraint="false" />
        </separator>
       </formatInfo>
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
    <xs:element name="Sequence_C" minOccurs="1" maxOccurs="1">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Tag_18A_Number_of_Repetitive_Parts" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":18A:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:decimal">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.5n" Max_Length="5" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_34E_Final_Value" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":34E:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Sign" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.1ValidChars" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="N=Negative," />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Currency" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_72_Sender_to_Receiver_Information" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":72:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:choice>
             <xs:element name="Format_1" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Line_1" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Code" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Additional_Information" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.32ValidChars" Max_Length="32" Min_Length="1" Content_Type="Has Data Model" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Lines_2_6" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Line_2_6" minOccurs="1" maxOccurs="5">
                    <xs:complexType>
                     <xs:choice>
                      <xs:element name="Line_Format_1" minOccurs="1" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Constant_Value="//" Max_Length="2" Min_Length="2" Content_Type="Pure Syntax" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.33ValidChars" Max_Length="33" Min_Length="1" Content_Type="Has Data Model" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:sequence>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Line_Format_2" minOccurs="1" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Code" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                           </xs:sequence>
                          </xs:complexType>
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Additional_Information" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.32ValidChars" Max_Length="32" Min_Length="1" Content_Type="Has Data Model" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:sequence>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:choice>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo>
                    <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                     <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                     <left_context Is_Negative_Constraint="false" />
                    </separator>
                   </formatInfo>
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true">
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Narrative__6___35x_" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Narrative" minOccurs="1" maxOccurs="6" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true">
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:choice>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:annotation>
      <xs:appinfo>
       <formatInfo mandatory="true">
        <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
         <right_context String_Constraint=":" Is_Negative_Constraint="false" />
         <left_context Is_Negative_Constraint="false" />
        </separator>
       </formatInfo>
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:annotation>
   <xs:appinfo>
    <formatInfo>
     <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
      <right_context String_Constraint=":" Is_Negative_Constraint="false" />
      <left_context Is_Negative_Constraint="false" />
     </separator>
    </formatInfo>
   </xs:appinfo>
  </xs:annotation>
 </xs:element>
</xs:schema>

