stardust-engine-core/src/test/resources/org/eclipse/stardust/engine/core/struct/ecore/MT810.FormatModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="root">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="Sequence_A___Details_of_Purchase" minOccurs="1" maxOccurs="1">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Tag_20_Transaction_Reference_Number" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":20:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.16ValidChars" Max_Length="16" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_50_Claimant__Permanent_Address___4_35x_" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":50:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Narrative" minOccurs="1" maxOccurs="4" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true">
           <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
            <right_context String_Constraint=":" Is_Negative_Constraint="true" />
            <left_context Is_Negative_Constraint="false" />
           </separator>
          </formatInfo>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Selling_Agent__A__C_or_D_" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:choice>
          <xs:element name="Tag_51A_Party_Id___BIC" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":51A:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Party_Id_Line" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Credit_Debit_Indication" minOccurs="1" maxOccurs="1" type="xs:boolean">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="CD" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%T[C]%F[D]" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="C=Credit,D=Debit," />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Party_Id" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="/" Also_After_Last_Child="false" Also_Before_First_Child="true" />
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="BIC" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%BIC" Max_Length="11" Min_Length="8" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo>
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_51C_Party_Id___Account_number_Party_Identifier" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":51C:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Account_Number" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo>
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_51D_Party_Id___Name_and_Address" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":51D:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Party_Id_Line" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Credit_Debit_Indication" minOccurs="1" maxOccurs="1" type="xs:boolean">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="CD" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%T[C]%F[D]" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="C=Credit,D=Debit," />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Party_Id" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="/" Also_After_Last_Child="false" Also_Before_First_Child="true" />
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Name_and_Address" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Narrative" minOccurs="1" maxOccurs="4" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true">
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo>
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:choice>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_30_Sales_Date" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":30:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:date">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%y%m%d" Max_Length="6" Min_Length="6" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_33B_Face_Amount" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":33B:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Currency_Code" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:annotation>
      <xs:appinfo>
       <formatInfo mandatory="true">
        <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
         <right_context String_Constraint=":" Is_Negative_Constraint="false" />
         <left_context Is_Negative_Constraint="false" />
        </separator>
       </formatInfo>
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
    <xs:element name="Repetitive_Sequence_B___Details_of_Loss" minOccurs="1" maxOccurs="1">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Sequence_B___Details_of_Loss" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Serial_Numbers_Lost" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag_26A_Serial_Numbers_Lost" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Constant_Value=":26A:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Identification_of_the_first_item_in_a_range_of_items" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.16ValidChars" Max_Length="16" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Last_four_characters_of_the_last_item_in_the_consecutive_sequence" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.4ValidChars" Max_Length="4" Min_Length="1" Content_Type="Has Data Model" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true">
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="false" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_33A_Date_and_Amount_of_Loss" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":33A:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Date" minOccurs="1" maxOccurs="1" type="xs:date">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%y%m%d" Max_Length="6" Min_Length="6" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Currency" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_77A_Details_of_Loss_" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":77A:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Content" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:choice>
                <xs:element name="Format_1" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Line_1" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Code" minOccurs="1" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" Valid_Values="LOSS=,NEVER=,NOPAF=,ONCE=,PAF=,POLICE=,TWICE=," />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:sequence>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Additional_Information" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.32ValidChars" Max_Length="32" Min_Length="1" Content_Type="Has Data Model" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Lines_2_20" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Line_2_20" minOccurs="1" maxOccurs="19">
                       <xs:complexType>
                        <xs:choice>
                         <xs:element name="Line_Format_1" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Constant_Value="//" Max_Length="2" Min_Length="2" Content_Type="Pure Syntax" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.33ValidChars" Max_Length="33" Min_Length="1" Content_Type="Has Data Model" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                           </xs:sequence>
                          </xs:complexType>
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Line_Format_2" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Code" minOccurs="1" maxOccurs="1">
                             <xs:complexType>
                              <xs:sequence>
                               <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                               <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" Valid_Values="LOSS=,NEVER=,NOPAF=,ONCE=,PAF=,POLICE=,TWICE=," />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                               <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                 <xs:appinfo>
                                  <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                                 </xs:appinfo>
                                </xs:annotation>
                               </xs:element>
                              </xs:sequence>
                             </xs:complexType>
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Additional_Information" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.32ValidChars" Max_Length="32" Min_Length="1" Content_Type="Has Data Model" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                           </xs:sequence>
                          </xs:complexType>
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:choice>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo>
                       <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                        <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                        <left_context Is_Negative_Constraint="false" />
                       </separator>
                      </formatInfo>
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo>
                    <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                     <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                     <left_context Is_Negative_Constraint="false" />
                    </separator>
                   </formatInfo>
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:choice>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo>
           <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
            <right_context String_Constraint=":" Is_Negative_Constraint="false" />
            <left_context Is_Negative_Constraint="false" />
           </separator>
          </formatInfo>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:annotation>
      <xs:appinfo>
       <formatInfo mandatory="true">
        <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
         <right_context String_Constraint=":" Is_Negative_Constraint="false" />
         <left_context Is_Negative_Constraint="false" />
        </separator>
       </formatInfo>
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
    <xs:element name="Sequence_C___Details_of_Claim" minOccurs="1" maxOccurs="1">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Tag_34B_Refund_Made" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":34B:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Currency" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_32B_Refund_Amount_Requested" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":32B:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Currency_Code" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%CUR" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Amount" minOccurs="1" maxOccurs="1" type="xs:decimal">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789,." Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.15ln%n%f%dp," Max_Length="15" Min_Length="2" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Refund_Agent__A__B_or_D_" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:choice>
          <xs:element name="Tag_57A_Party_Id___BIC" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":57A:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Party_Id_Line" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Credit_Debit_Indication" minOccurs="1" maxOccurs="1" type="xs:boolean">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="CD" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%T[C]%F[D]" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="C=Credit,D=Debit," />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Party_Id" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="/" Also_After_Last_Child="false" Also_Before_First_Child="true" />
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="BIC" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%BIC" Max_Length="11" Min_Length="8" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true">
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_57B_Party_Id___Branch" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":57B:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Party_Id_Line" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Credit_Debit_Indication" minOccurs="1" maxOccurs="1" type="xs:boolean">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="CD" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%T[C]%F[D]" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="C=Credit,D=Debit," />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Party_Id" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="/" Also_After_Last_Child="false" Also_Before_First_Child="true" />
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Location" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%BRNC" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true">
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag_57D_Party_Id___Name_and_Address" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value=":57D:" Max_Length="5" Min_Length="5" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Party_Id_Line" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Credit_Debit_Indication" minOccurs="1" maxOccurs="1" type="xs:boolean">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="CD" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%T[C]%F[D]" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" Valid_Values="C=Credit,D=Debit," />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Party_Id" minOccurs="1" maxOccurs="1" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="/" Also_After_Last_Child="false" Also_Before_First_Child="true" />
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Name_and_Address" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Narrative" minOccurs="1" maxOccurs="4" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true">
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true">
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:choice>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_59_Claimant__Contact_Address_" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":59:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Account" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.34ACCT" Max_Length="34" Min_Length="1" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Name___Address__4___35x_" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Name___Address_" minOccurs="1" maxOccurs="4" type="xs:string">
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.35ValidChars" Max_Length="35" Min_Length="1" Content_Type="Has Data Model" />
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true">
              <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
               <right_context String_Constraint=":" Is_Negative_Constraint="true" />
               <left_context Is_Negative_Constraint="false" />
              </separator>
             </formatInfo>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true">
           <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
            <right_context String_Constraint=":" Is_Negative_Constraint="true" />
            <left_context Is_Negative_Constraint="false" />
           </separator>
          </formatInfo>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_79_Claimant_Details" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value=":79:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:choice>
             <xs:element name="Format_1" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Line_1" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Code" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" Valid_Values="APPFORM=,BANK=,BIRTH=,CITIZEN=,DESCRIPT=,EMPLOYER=,ID=,PASS=,PHONBEN=,PRECLM=,PROFESS=,SPCHANDL=,STUDENT=,TELEXBEN=,URGENT=," />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:sequence>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                   <xs:element name="Narrative" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.42ValidChars" Max_Length="42" Min_Length="1" Content_Type="Has Data Model" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
                <xs:element name="Lines_2_35" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Line_2_35" minOccurs="1" maxOccurs="34">
                    <xs:complexType>
                     <xs:choice>
                      <xs:element name="Line_Format_1" minOccurs="1" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Constant_Value="//" Max_Length="2" Min_Length="2" Content_Type="Pure Syntax" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.48ValidChars" Max_Length="48" Min_Length="1" Content_Type="Has Data Model" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:sequence>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                      <xs:element name="Line_Format_2" minOccurs="1" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Code" minOccurs="1" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Prefix" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Character_Group="ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.8ValidChars" Max_Length="8" Min_Length="1" Content_Type="Has Data Model" Valid_Values="APPFORM=,BANK=,BIRTH=,CITIZEN=,DESCRIPT=,EMPLOYER=,ID=,PASS=,PHONBEN=,PRECLM=,PROFESS=,SPCHANDL=,STUDENT=,TELEXBEN=,URGENT=," />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                            <xs:element name="Suffix" minOccurs="1" maxOccurs="1" type="xs:string">
                             <xs:annotation>
                              <xs:appinfo>
                               <formatInfo mandatory="true" Constant_Value="/" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
                              </xs:appinfo>
                             </xs:annotation>
                            </xs:element>
                           </xs:sequence>
                          </xs:complexType>
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo mandatory="true" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                         <xs:element name="Narrative" minOccurs="1" maxOccurs="1" type="xs:string">
                          <xs:annotation>
                           <xs:appinfo>
                            <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.42ValidChars" Max_Length="42" Min_Length="1" Content_Type="Has Data Model" />
                           </xs:appinfo>
                          </xs:annotation>
                         </xs:element>
                        </xs:sequence>
                       </xs:complexType>
                       <xs:annotation>
                        <xs:appinfo>
                         <formatInfo mandatory="true" />
                        </xs:appinfo>
                       </xs:annotation>
                      </xs:element>
                     </xs:choice>
                    </xs:complexType>
                    <xs:annotation>
                     <xs:appinfo>
                      <formatInfo mandatory="true" />
                     </xs:appinfo>
                    </xs:annotation>
                   </xs:element>
                  </xs:sequence>
                 </xs:complexType>
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo>
                    <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                     <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                     <left_context Is_Negative_Constraint="false" />
                    </separator>
                   </formatInfo>
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo>
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
             <xs:element name="Narrative__35___50x_" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Narrative" minOccurs="1" maxOccurs="35" type="xs:string">
                 <xs:annotation>
                  <xs:appinfo>
                   <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.50ValidChars" Max_Length="50" Min_Length="1" Content_Type="Has Data Model" />
                  </xs:appinfo>
                 </xs:annotation>
                </xs:element>
               </xs:sequence>
              </xs:complexType>
              <xs:annotation>
               <xs:appinfo>
                <formatInfo mandatory="true">
                 <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
                  <right_context String_Constraint=":" Is_Negative_Constraint="true" />
                  <left_context Is_Negative_Constraint="false" />
                 </separator>
                </formatInfo>
               </xs:appinfo>
              </xs:annotation>
             </xs:element>
            </xs:choice>
           </xs:complexType>
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:annotation>
      <xs:appinfo>
       <formatInfo mandatory="true">
        <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
         <right_context String_Constraint=":" Is_Negative_Constraint="false" />
         <left_context Is_Negative_Constraint="false" />
        </separator>
       </formatInfo>
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:annotation>
   <xs:appinfo>
    <formatInfo>
     <separator Separator="\r\n" Also_After_Last_Child="false" Also_Before_First_Child="false">
      <right_context String_Constraint=":" Is_Negative_Constraint="false" />
      <left_context Is_Negative_Constraint="false" />
     </separator>
    </formatInfo>
   </xs:appinfo>
  </xs:annotation>
 </xs:element>
</xs:schema>

