stardust-engine-core/src/test/resources/org/eclipse/stardust/engine/core/struct/ecore/User-to-UserMessageACK_NAK.FormatModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="root">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="Tag__Basic_Header_Block" minOccurs="1" maxOccurs="1">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Block_Starter" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Constant_Value="{" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Constant_Value="1:" Max_Length="2" Min_Length="2" Content_Type="Pure Syntax" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Application_Identifier" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.1ValidChars" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Service_Identifier" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%2.2ValidChars" Max_Length="2" Min_Length="2" Content_Type="Has Data Model" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="LT_Address" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%LTA" Max_Length="12" Min_Length="12" Content_Type="Has Data Model" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Session_Number" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%4.4SSN" Max_Length="4" Min_Length="4" Content_Type="Has Data Model" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="ISN" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%6.6ISN" Max_Length="6" Min_Length="6" Content_Type="Has Data Model" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Block_Terminator" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Constant_Value="}" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:annotation>
      <xs:appinfo>
       <formatInfo mandatory="true" />
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
    <xs:element name="Tag__Text_Block" minOccurs="1" maxOccurs="1">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Block_Starter" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Constant_Value="{" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Constant_Value="4:" Max_Length="2" Min_Length="2" Content_Type="Pure Syntax" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_77_Date___Time" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Block_Starter" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="{" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="177:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:date">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%y%m%d%H%M" Max_Length="10" Min_Length="10" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Block_Terminator" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="}" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_51_Accept_Reject_Indication" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Block_Starter" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="{" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="451:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.1ValidChars" Max_Length="1" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Block_Terminator" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="}" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_05_Rejection_Reason" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Block_Starter" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="{" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="405:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Error_Code" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%3.3ValidChars" Max_Length="3" Min_Length="3" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Line_Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.65ValidChars" Max_Length="65" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Block_Terminator" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="}" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Tag_08_Message_User_Reference__MUR__" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Block_Starter" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="{" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Tag" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="108:" Max_Length="4" Min_Length="4" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Content" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Character_Group="abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/-?:().,\'+" Empty_Field_Policy="Empty Field Must Not Appear" Format_Descriptor="%1.16ValidChars" Max_Length="16" Min_Length="1" Content_Type="Has Data Model" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="Block_Terminator" minOccurs="1" maxOccurs="1" type="xs:string">
           <xs:annotation>
            <xs:appinfo>
             <formatInfo mandatory="true" Constant_Value="}" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
        <xs:annotation>
         <xs:appinfo>
          <formatInfo />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="Block_Terminator" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
         <xs:appinfo>
          <formatInfo mandatory="true" Constant_Value="}" Max_Length="1" Min_Length="1" Content_Type="Pure Syntax" />
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
     <xs:annotation>
      <xs:appinfo>
       <formatInfo mandatory="true" />
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:annotation>
   <xs:appinfo>
    <formatInfo />
   </xs:appinfo>
  </xs:annotation>
 </xs:element>
</xs:schema>

